[Unit]
Description=Runs battery status check script periodically.

[Timer]
OnBootSec=3s
OnUnitActiveSec=3s
Unit=chip-battery-status-check.service

[Install]
WantedBy=timers.target
